body {
    background-color: #F7EEE9;
}

.logo {
    position: absolute;
    width: 385px;
    height: 385px;
    left: -9px;
    top: -24px;
    top: -24px;
}
.About {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 61px;
    gap: 10px;

    position: absolute;
    width: 226px;
    height: 99px;
    left: 643px;
    top: 136px;

    background: #7EA172;
    border-radius: 30px;

    width: 226px;
    height: Hug (99px);
    top: 136px;
    left: 643px;


}
